<!DOCTYPE html>
<html>
<head>
  <title>Houses (Gentes)</title>
  <link rel="stylesheet" href="/style.css">
</head>
<body>
  <%- include('navbar') %>

  <main>
    <h1>Roman Houses (Gentes)</h1>

    <a href="/">← Back</a> |
    <a href="/houses/add">Add New House</a>

    <ul>
      <% houses.forEach(h => { %>
          <li>
          <strong><%= h.gens_name %></strong>
          <% if (h.founder_id) { %>
              — <a href="/tree/<%= h.id %>">View Tree</a>
          <% } else { %>
              — <em>No founder set</em>
          <% } %>
              — <a href="/houses/edit/<%= h.id %>">Edit House</a>
          </li>
      <% }) %>
    </ul>
  </main>
</body>
</html>