<!DOCTYPE html>
<html>
<head>
  <title><%= house.gens_name %> Family Tree</title>
  <link rel="stylesheet" href="/style.css">
</head>
<body>
  <h1>Gens <%= house.gens_name %></h1>
  <div class="tree"><%- tree %></div>
  <a href="/">Back</a>
</body>
</html>